.main-header {
	position: relative;
	z-index: 3;
	.navbar-header {
		padding: 0 30px;
		@media screen and(min-width: $screen-lg) {
			padding: 0;
		}
	}
	.top-bar {
		background: $grey-dark;		
		.login-bar {
			@extend .clearfix;			
		}
		display: none;
        @media screen and(min-width: $screen-md) {
            display: block;
        }
		ul {
			float: right;
			margin: 0;
			padding: $margin/2 0;
			list-style: none;
		}
		li {
			float: left;
			margin-left: $margin/2;
			padding-left: $margin/2;
			border-left: 1px dotted white;
			line-height: 1;
			font-size: 14px;			
			&:first-child {
				margin-left: 0;
				padding-left: 0;
				border: none;
			}
		}
		a {
			font-size: convert-px(13);
			color: white;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.bottom-bar {
		background: $orange;
		.time {
			display: block;
			padding: 15px 0;
			color: white;
			time {
				font-size: 16px;
			}
			.hour {
				display: block;
				font-size: 14px;
				color: rgba(white, 0.75);
			}
			.icon {
				margin-right: 5px;
				width: 10px;
				height: 10px;
				display: inline-block;
				fill: rgba(white, 0.75);
			}
		}
		.view-calendar {
			background: #bf3904;
			padding: 9px 41px 9px 21px;
			max-width: 300px;
			text-align: center;
			transition: background .25s;
			&:hover {
				background: mix(#bf3904, white, 94%);
			}
			a {
				display: block;
				color: white;
				font-family: $sans-pro-bold;
			}
			span , .icon {
				display: inline-block;
				vertical-align: middle;
			}
			span {
				position: relative;
				&:after {
					position: absolute;
					content: '';
					width: 0;
					height: 0;
					border: 5px solid white;
					border-color: transparent transparent transparent white;
					top: 0;
					bottom: 0;
					right: -25px;
					margin: auto;
				}
			}
			.icon {
				margin-right: 15px;
				width: 32px;
				height: 32px;
			}
		}
		@media screen and (min-width: $screen-xs) {
			.time {
				float: left;
			}
			.view-calendar {
				float: right;
				margin-top: 11px;				
				max-width: none;
			}
		}
	}
}