.main-container {
	padding-bottom: 50px;
	@media screen and (min-width: $screen-md) {
		padding-bottom: 0;
	}
}
.m-chat-box {
	position: fixed;
	width: 100%;
	top: 100%;
	margin: auto;
	right: 0;
	background: $grey-light;
	transition: all .3s;
	display: none;
	&.active {
		transform: translate3d(0,-100%,0);
		.lt-ie10 & {
			top: auto;
			bottom: 0;
		}
	}
	.no-js & {
		display: none;
	}
	.action {
		cursor: pointer;
		position: relative;
		margin-top: -50px;
		height: 50px;
		background-color: $orange;
		transition: all .25s;
		&:hover {
			background-color: lighten($orange, 5%);
		}
		.icon {
			width: 28px;
			height: 26px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
		}
	}
	.content {
		padding: $margin/2;
		font-size: 14px;
		p:last-child {
			margin: 0;
		}
	}
	@media screen and (min-width: $screen-md) {
		top: 0;
		bottom: 0;
		width: 300px;
		height: 145px;
		left: 100%;
		display: block;
		.action {
			position: absolute;
			margin-top: 0;
			top: 0;
			left: -50px;
			width: 50px;
			height: 100%;
		}
		&.active {
			transform: translate3d(-100%,0,0);
			.lt-ie10 & {
				right: 0;
				top: 0;
				bottom: 0;
				left: auto;
			}
		}
		.content {
			border: 1px solid $grey;
			border-left: none;
			overflow: auto;
			height: 100%;
			padding: 15px;
		}
	}
}