%dotted-border {
	content: '';
	position: absolute;
	width: 100%;
	height: 8px;
	left: 0;
	bottom: 0;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFklEQVQImWOwcAv5z8DAwACjMQFBFQA+3wdFy4iTgQAAAABJRU5ErkJggg==)
}
.m-promo {
	padding: $margin * 2 0;
	position: relative;
	&.grey {
		background: $grey-light;
	}
	a {
		transition: all .25s;
	}
	h2 {
		font-family: $aleo-bold;
		margin-top: 0;
	}
	h2, h3, h4 {
		margin-top: 0;
	}
	h4 {
		font-size: 18px;
		text-transform: uppercase;
	}
	@media screen and (min-width: $screen-md) {
		&:after {
			content: '';
			position: absolute;
			right: 0;
			left: 0;
			margin: auto;
			top: $margin * 2;
			bottom: $margin * 2;
			width: 1px;
			background: $navy-grey;
		}
	}
	.promo-item {
		@include make-md-column(7, 0);
		@media screen and (min-width: $screen-md) {
			margin-bottom: 0;
		}
		position: relative;
		margin-bottom: $margin * 2;
		@extend .clearfix;
		&.last {
			margin-bottom: 0;
			float: right;
		}
	}
	.icon {
		position: absolute;
		width: 53px;
		height: 64px;
		right: 0;
		top: 0;
	}
	time {
		display: block;
		line-height: 1;
		color: #878787;
		font-size: 14px;
		margin-bottom: $margin/2;
	}
	header {
		position: relative;
		padding-bottom: 4px;
		h2, span {
			max-width: 80%;
			max-width: calc(100% - 70px);
		}
		h2 {
			font-family: $aleo-bold;
			color: $navy-grey;
		}
		span {
			font-size: 16px;
			display: block;
			color: $orange;
		}
		&:after {
			@extend %dotted-border;
		}
		&, h2, span {
			margin-bottom: $margin;
		}
	}

	.main {
		padding-bottom: $margin;
		margin-bottom: $margin;
		border-bottom: 1px solid $navy-grey;		
		h3 {
			color: $orange;
		}
		p {
			margin: 0;
			font-size: 14px;
		}
		img {
			display: block;
			transition: all .25s;
			width: 100%;
			transform: scale3d(1,1,1);
		}
		.featured-image {
			overflow: hidden;
			display: block;
			margin-bottom: $margin;
			width: 100%;
			&:hover {
				img {
					transform: scale3d(1.1,1.1,1.1);
				}
			}
		}
	}
	aside {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			@extend .clearfix;
		}
		li {
			position: relative;
			padding-bottom: 8px;
			margin-bottom: $margin;
			&:last-child, .last-child {
				padding-bottom: 0;
				&:after {
					display: none;
				}
			}
			&:after {
				@extend %dotted-border;
			}
		}
		.icon {
			transition: all .25s;
		}
		a {
			color: $text-color;
			&:hover {
				color: $orange;
				.icon {
					fill: $orange;
				}
			}
		}
		h4 {
			padding-left: 20px;
			position: relative;
			font-size: 16px;
			margin-bottom: $margin;
		}
		.icon {
			width: 14px;
			height: 10px;
			position: absolute;
			left: 0;
			top: 3px;
		}
	}
	@media screen and (min-width: $screen-xs) {
		.main, aside {
			float: left;
		}
		.main {
			width: 57%;
			border-bottom: 0;
			padding-right: $margin;
			border-right: 1px solid $navy-grey;
		}
		aside {
			padding-left: $margin;
			width: 43%;
		}
	}
}