// Function to calculate px to em
$browser-reset-font: 16 !default; //reset default browser font size to 16px. Dont change.

@function convert-px($px, $font-base: $browser-reset-font) {
    @return ($px / $font-base) * 1em;
}

@function set-line-height($font-size, $increase: 50%) {
	@return ($heading-font-size-large * $increase) / 100%;
}


// Break points
$breakpoint-1: convert-px(568);
$breakpoint-2: convert-px(768);
$breakpoint-3: convert-px(1025);
$breakpoint-4: convert-px(1200);
$mobile-min: convert-px(320) !default;
$mobile-max: convert-px(568) !default;
$tablet-min: convert-px(768) !default;
$tablet-max: convert-px(1024) !default;


@mixin breakpoint($breakpoint) {
	@if $breakpoint == 1 {
		@media only screen and (min-width: $breakpoint-1) { @content; }
	}
	@else if $breakpoint == 2 {
		@media only screen and (min-width: $breakpoint-2) { @content; }
	}
	@else if $breakpoint == 3 {
		@media only screen and (min-width: $breakpoint-3) { @content; }
	}
	@else if $breakpoint == 4 {
		@media only screen and (min-width: $breakpoint-4) { @content; }
	}
}


@mixin breakpoint-and-orientation($breakpoint, $orientation) {
	@if $breakpoint == 1 {
		@media only screen and (min-width: $breakpoint-1) and (orientation: $orientation) { @content; }
	}
	@else if $breakpoint == 2 {
		@media only screen and (min-width: $breakpoint-2) and (orientation: $orientation) { @content; }
	}
	@else if $breakpoint == 3 {
		@media only screen and (min-width: $breakpoint-3) and (orientation: $orientation) { @content; }
	}
	@else if $breakpoint == 4 {
		@media only screen and (min-width: $breakpoint-4) and (orientation: $orientation) { @content; }
	}
}


@mixin respond-to($device) {
	@if $device == tablet {
		@media only screen and (min-device-width: $tablet-min) and (max-device-width: $tablet-max) { @content; }
	}
	@else if $device == tablet-portrait {
		@media only screen and (min-device-width: $tablet-min) and (max-device-width: $tablet-max) and (orientation: portrait) { @content; }
	}
	@else if $device == tablet-landscape {
		@media only screen and (min-device-width: $tablet-min) and (max-device-width: $tablet-max) and (orientation: landscape) { @content; }
	}
	@else if $device == mobile {
		@media only screen and (min-device-width: $mobile-min) and (max-device-width: $mobile-max) { @content; }
	}
	@else if $device == mobile-portrait {
		@media only screen and (min-device-width: $mobile-min) and (max-device-width: $mobile-max) and (orientation: portrait) { @content; }
	}
	@else if $device == mobile-landscape {
		@media only screen and (min-device-width: $mobile-min) and (max-device-width: $mobile-max) and (orientation: landscape) { @content; }
	}
}

@mixin orientation($orientation) {
	@media screen and (orientation: $orientation) {
		@content;
	}
}

// Mixin for webfont
@mixin web-font($font-name: "FONT NAME", $file-path: "/PATHTOFONT/", $file-name: "FONTNAME") {
	$full-path: $file-path + $file-name;
	@font-face {
		font-family: '#{$font-name}';
		src: url('#{$full-path}.eot');
		src: url('#{$full-path}.eot?#iefix') format('embedded-opentype'),
			url('#{$full-path}.woff') format('woff'),
			url('#{$full-path}.ttf') format('truetype'),
			url('#{$full-path}.svg##{$file-name}') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}


@mixin bw(){
  //Internet Explorer 6 - 9
  filter: gray;

  //Chrome 19+

  -webkit-filter: grayscale(100%);
  //Firefox 10+
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  
  //Standard
  filter: grayscale(100%);
}
