.main-nav {
    margin: 0;
    .toggle {
        padding: 10px;
    }
    .has-children {
        border-bottom: 1px solid $grey-dark;
        @media screen and(min-width: $screen-md) {
            border-bottom: 0;
        }
        a {
            padding: 15px 30px;
            font-size: 18px;
        }
        &.open,
        &.active {
            .toggle {
                &:hover,
                &:focus,
                & {
                    color: white;
                }
            }
        }
        &.open {
            .toggle {
                &:hover,
                &:focus,
                & {
                    background: $grey-dark;
                }
            }
        }
    }
    .login {
        background: $grey-dark;
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            padding: 15px 15px 15px 0;
            font-size: 18px;
            text-align: left;
            &:first-child {
                padding-left: 30px;
            }
            &:last-child {
                a {
                    border: none;
                }
            }
            a {
                padding-right: 15px;
                border-right: 1px dotted white;
                color: white;
            }
        }
        @media screen and (min-width: $screen-md) {
            display: none;
        }
    }
    .companies-list {
        @extend .clearfix;
        .dropdown {
            padding: 10px;
        }
        .alphabetic-list {
            padding: 0;
            @extend .clearfix;
            ul {
                padding-left: 0;
            }
            li {
                width: 12.5%;
                float: left;
                text-align: center;
                a {
                    padding: 5px;
                    display: block;
                    &:hover {
                        background: $grey-dark;
                    }
                }
            }
            .view-all {
                margin-left: 5%;
                clear: both;
                display: block;
            }
        }
        .full-list {
            display: none;
        }
    }
    .dropdown {
        @extend .clearfix;
        padding: 20px 30px;
        background: $navy-grey;
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            border-bottom: 1px solid $grey-dark;
            margin-bottom: 10px;
        }
        a {
            display: block;
            padding: 10px;
            color: white;
            &:hover {
                background: $grey-dark;
            }
        }
    }
    @media screen and (min-width: $screen-md) {
        padding: 0;
        .no-transition &,
        .menu-open & {
            .dropdown {
                transition: none;
            }
        }
        .has-children {
            margin-bottom: 0;
            position: static;
            width: 115px;
            height: 98px;
            .caret {
                display: none;
            }
            .toggle {
                font-size: 16px;
                padding-top: 42px;
                padding-left: 20px;
                padding-bottom: 0;
                height: 100%;
                transition: all .25s;
                position: relative;
                z-index: 6;
                .menu-open & {
                    height: 100%;
                }
                &:before {
                    content: '';
                    display: block;
                    height: 68px;
                    position: absolute;
                    width: 1px;
                    top: 0;
                    background: $grey-dark;
                    left: -1px;
                    transition: all 0.2s;
                    .menu-open & {
                        height: 100%;
                    }
                }
            }
            &.de-active {
                .toggle {
                    color: mix(black, white, 30%);
                    background: #2f3842;
                }
            }
            &.open,
            .lt-ie10 &:hover {
                .toggle {
                    background: $navy-grey !important;
                }
                .dropdown {
                    opacity: 1;
                    visibility: visible;
                    z-index: 10;
                }
            }
            .lt-ie10 & {
                &,
                * {
                    transition: none !important;
                }
            }
        }
        .dropdown {
            padding: 0;
            display: block !important;
            position: absolute;
            width: 100%;
            left: 0px;
            z-index: 5;
            top: 100%;
            visibility: hidden;
            opacity: 0;
            transition: all 0.25s;
            border-top: 1px solid $grey-dark;
            ul {
                padding: 0;
                margin-right: 30px;
                width: 660px;
                float: right;
                position: relative;
                padding: $margin 0;
            }
            li {
                width: 240px;
                float: left;
                border-bottom: 1px solid $grey-dark;
                &,
                &:last-child {
                    margin-right: $margin * 2;
                }
                a {
                    padding: 10px;
                    display: block;
                    &:hover {
                        background: $grey-dark;
                    }
                }
            }
        }
        .canvas {
            max-width: $container-lg;
            margin: auto;
            min-height: 270px;
            background: $navy-grey;
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 20px;
                height: 100%;
                left: -20px;
                top: 0;
                background-color: $navbar-default-bg;
            }
        }
        .companies-list { 
            .dropdown {
                padding: 0;
            }
            .alphabetic-list {
                .view-all {
                    display: block;
                    clear: both;
                    padding: 10px;
                    border-bottom: 1px solid $grey-dark;
                    margin-right: 30px;
                    margin-left: 0;
                    transition: all .25s;
                    &:hover {
                        background: $grey-dark;
                    }
                }
                max-width: 720px;
                float: right;
                li {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    margin: 0;
                    border-bottom: none;
                    a {
                        padding: 0;
                        display: block;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    @media screen and (min-width: $screen-lg) {
        $cell-width: 157px;
        .has-children {
            width: $cell-width;
            position: static;
            .toggle {
                padding-left: 22px;
                font-size: 18px;
            }
        }
        .dropdown ul,
        .companies-list .list-container {
            margin: 0;
            width: 942px;
        }
        .companies-list {
            .list-container {
                height: 270px;
                float: right;
                overflow: hidden;
                padding: 20px 0;
            }
            .alphabetic-list,
            .full-list {
                display: block;
                height: 100%;
                ul {
                    width: auto;
                    padding-top: 0;
                }
            }
            .alphabetic-list {
                width: 420px;
                float: left;
                ul {
                    margin-bottom: 12px;
                    padding-bottom: 0;
                }
                .view-all {
                    margin-left: 0;
                    margin-right: 15px;
                }
            }
            .full-list {
                float: right;
                margin-right: 10px;
                padding-right: 130px;
                width: $cell-width*3 - 10px;
                overflow: auto;
                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-track {
                    border-radius: 10px;
                    background: #343f4a;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background: $grey-dark;
                }
                ul {
                    padding-top: 0;
                    padding-bottom: 200px;
                }
                li {
                    margin: 0;
                    width: 100%;
                }
            }
            .canvas {
                &:after {
                    content: '';
                    position: absolute;
                    width: 95%;
                    height: 40px;
                    background: $navy-grey;
                    left: 0;
                    bottom: 20px;
                    background: linear-gradient(to top, $navy-grey, rgba($navy-grey, 0));
                }
            }
        }
    }
}
