//
// Jumbotron
// --------------------------------------------------
.jumbotron {
    color: $jumbotron-color;
    background-color: $jumbotron-bg;
    overflow: hidden;
    font-family: $aleo-bold;
    .grid-row {
        position: relative;
        padding-top: $jumbotron-padding;
        @media screen and (min-width: $screen-sm) {
            padding-bottom: $jumbotron-padding;
        }
    }
    .bg {
        position: absolute;
        height: 180%;
        width: auto;
        top: -60%;
        left: -30%;
        opacity: 0.7;
        user-select: none;
    }
    .first {
        position: relative;
        padding-bottom: 23px;
        margin-bottom: $margin;
        h1 {
            margin-bottom: $margin;
        }
        p {
            max-width: 420px;
            color: $orange;
            margin-bottom: $margin * 2;
            font-family: $aleo-regular;
        }
        @media screen and (min-width: $screen-sm) {
            float: left;
            width: 50%;
            p {
                font-size: 16px;
            }
        }
        @media screen and (min-width: $screen-sm) {
            margin-bottom: 0;
        }
    }
    .last {
        margin-bottom: $margin * 2;
        h3 {
            font-size: 16px;
            margin-bottom: $margin;
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li {
            margin-bottom: $margin/2;
        }
        a {
            font-family: $sans-pro-regular;
            font-size: 16px;
            color: $grey-mid;
            text-decoration: underline;
            &:hover {
                color: white;
            }
        }
        @media screen and (min-width: $screen-sm) {
            float: left;
            width: 50%;
            padding-left: 80px;
            padding-top: 72px;
        }
        @media screen and (min-width: $screen-md) {
            padding-left: 125px;
        }
    }
    .search-form {
        position: relative;
        &:before,
        &:after {
            content: '';
            position: absolute;
            height: 7px;
            width: 100%;
            left: 0;
        }
        &:before {
            top: -8px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFklEQVQImWN46C34n4GBgQFGYwKCKgCNywjxqW89hAAAAABJRU5ErkJggg==);
        }
        &:after {
            top: 100%;
            top: calc(100% + 1px);
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFklEQVQImWOwcAv5z8DAwACjMQFBFQA+3wdFy4iTgQAAAABJRU5ErkJggg==);
        }
        .search-input {
            color: white;
            background: none;
            border: none;
            -webkit-appearance: none;
            border-radius: 0;
            width: 100%;
            height: 70px;
            line-height: 70px;
            font-size: 18px;
            padding: 0 10px;
            transition: all .25s;
            font-family: $aleo-regular;
            @media screen and (min-width: $screen-md) {
                height: 108px;
                line-height: 108px;
                font-size: 24px;
                padding: 0 20px;
            }
            &:focus {
                background: lighten($grey-dark, 5%);
                outline: 0;
            }
            &::-webkit-input-placeholder {
                color: white;
            }
            &:-moz-placeholder {
                /* Firefox 18- */
                color: white;
            }
            &::-moz-placeholder {
                /* Firefox 19+ */
                color: white;
            }
            &:-ms-input-placeholder {
                color: white;
            }
        }
        .submit {
            position: absolute;
            right: 10px;
            @media screen and (min-width: $screen-md) {
                right: 20px;
            }
            top: 0;
            bottom: 0;
            margin: auto;
            width: 40px;
            height: 40px;
            border: none;
            background: none;
            transform: scale3d(1,1,1);
            transition: all .25s;
            &:hover {
                transform: scale3d(1.2,1.2,1.2);
                svg {
                    fill: $orange;
                }
            }
            svg {
                fill: white;
                transition: all .25s;
                position: absolute;
                width: 19px;
                height: 19px;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                margin: auto;
            }
        }
    }
    h1,
    .h1 {
        position: relative;
        color: $jumbotron-heading-color;
        font-size: $jumbotron-heading-font-size * 3/4;
    }
    p {
        margin-bottom: ($jumbotron-padding / 2);
        font-size: 14px;
        font-weight: 200;
    }
    > hr {
        border-top-color: darken($jumbotron-bg, 10%);
    }
    .container &,
    .container-fluid & {
        border-radius: $border-radius-large; // Only round corners at higher resolutions if contained in a container
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
    }
    .container {
        max-width: 100%;
    }
    @media screen and (min-width: $screen-sm-min) {
        h1,
        .h1 {
            font-size: $jumbotron-heading-font-size;
        }
        p {
            font-size: $jumbotron-font-size;
        }
    }
}
